* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.menu-container {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  color: white;
  padding: 35px 5% 0 5%;
}
.menu-container img {
  height: 50px;
}
.menu-container ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 1.1rem;
}
.menu-container ul li {
  padding: 0 18px;
  cursor: pointer;
}
.menu-container ul li::after {
  content: "";
  display: block;
  width: 0%;
  opacity: 1;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.menu-container ul li:hover::after {
  width: 100%;
}

header {
  width: 100vw;
  background-image: url(../photos/header-background.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.header-banner {
  width: 100%;
  height: calc(85vh - 50px);
  overflow-y: hidden;
  padding-left: 6%;
}
.header-banner h1 {
  font-size: 3.5rem;
  margin-top: 20vh;
  font-size: 300;
  letter-spacing: 1px;
  line-height: 58px;
}
.header-banner p {
  margin: 25px 0;
  line-height: 24px;
}
.header-banner button {
  padding: 15px 30px;
  border: 0;
  color: rgb(16, 16, 16);
  background-color: white;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 10px;
  cursor: pointer;
}

.social-links {
  width: 100vw;
  height: calc(15vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.social-links img {
  width: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.social-links img:hover {
  width: 115px;
}

.news-section {
  width: 100vw;
  color: rgb(30, 30, 30);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 7%;
}
.news-section h2 {
  font-size: 2.5rem;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px;
  grid-gap: 25px;
  margin-top: 30px;
}

.news {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news h3, .news p {
  padding: 15px 15px 0 15px;
}
.news h5 {
  padding: 0 15px;
}
.news button {
  width: 200px;
  margin: 20px auto;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 7px;
  color: rgb(30, 30, 30);
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.news button:hover {
  background-color: rgb(40, 40, 40);
  color: white;
}

#about-section {
  width: 100vw;
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 75px 7%;
}

.left-about {
  width: 50%;
  padding: 25px 50px 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.left-about h2 {
  font-size: 1.8rem;
  margin-bottom: 25px;
}
.left-about p {
  text-align: justify;
}

.right-about {
  width: 50%;
  height: auto;
}
.right-about img {
  border-radius: 20px;
}

.footer-contact {
  width: 100vw;
  background-color: white;
  color: color(30, 30, 30);
}
.footer-contact h2 {
  width: 100vw;
  text-align: center;
  padding: 35px 0;
}

.footer-ending {
  width: 100vw;
  height: 60px;
  background-color: rgb(20, 20, 20);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-ending p {
  font-size: 1rem;
}
.footer-ending p span {
  padding: 0 14px;
}
.footer-ending p a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.footer-ending img {
  margin-left: 5px;
  width: 27px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer-ending img:hover {
  width: 30px;
}