* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-container {
  width: 100%;
  height: 65px;
  background-color: rgb(37, 41, 44);
  color: white;
}
.menu-container img {
  height: 45px;
  margin-top: 10px;
  margin-left: 50px;
}